.section{
    padding: 4px 25px;
    margin-bottom: 10px;
    border: 0.5px solid black;
}
.section h2{
    font-size: 30px;
    margin: 2px 2px;
}
.section p{
    margin: 14px 2px;
    font-size: 20px;
    margin-bottom: 19px;
    color: black;
}
.smallSection{
    display: flex;
    justify-content: space-between;

}
.smallSection h3{
    font-size: 22px;
    z-index: 4;
    margin: 2px 2px;
}
.smallSection p{
    font-size: 15px;
    z-index: 1;
}