.section{
    display: flex;
    flex-direction: column;
}
.buttonSection{
    display: flex;
    flex-direction: row;
   
}
.buttonSection button{
    display: flex;
    padding: 10px 15px;
    font-size: 20px;
    margin: 2px 2px;
    margin-left: 10px;
    border-radius: 15px;
}
.section p{
    margin: 20px 25px;

}